
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>

        #form { margin:auto;border-radius:10px;background:gray;color:white;width:900px;padding:50px;}
        body {background-image: url({% static 'images/maps.jpg' %});}
    </style>
 <script>
            function random_function()
            {
                var a=document.getElementById("input").value;
                if(a==="Trivandrum")
                {
                    var arr=["Thiruvananthapuram","Nedumangadu","Chirayinkeezhu","Kattakada","Neyyattinkara","Varkala","Vizhinjam"];
                }
                if(a==="Alappuzha")
                {
                    var arr=["Varkala","Ambalapuzha","Kuttanad","Karthikapally","Chengannur","Mavelikkara"];
                }
                if(a==="Ernakulam")
                {
                    var arr=["Paravur","Aluva","Kunnathunad","Muvattupuzha","Kochi","Kothamangalam"];
                }
                if(a==="Trissur")
                {
                    var arr=["Chalakudy","Kodungallur","Guruvayur","Chavakkadu","Irinjalakkuda","Kaippamangalm"];
                }
                if(a==="Malapuram")
                {
                    var arr=["Eranad", "Kondotty", "Nilambur", "Perinthalmanna", "Ponnani" , "Tirur", "Tirurangadi"];
                }
                else if(a==="Kozhikode")
                {
                    var arr=["Vatakara","Koyilandy","Thamarassery","Kozhikode"];
                }

                var string="";

                for(i=0;i<arr.length;i++)
                {
                    string=string+"<option value="+arr[i]+">"+arr[i]+"</option>";
                }
                document.getElementById("output").innerHTML=string;


            }

            function myFunction() {
  var txt;
  if (confirm("Press a button!")) {
    txt = "You pressed OK!";
  } else {
    txt = "You pressed Cancel!";
  }
  document.getElementById("demo").innerHTML = txt;
}

function TestFunction() {
            alert(location.href);
            location.href = "http://www.itfunda.com";
        }
        </script>




</head>
<body>


    <h1 style="text-align:center;font-size:70px">Flower Booking</h1>
    <div id="form">
    <form action="form" method="post">
        {% csrf_token %}

        <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Name</label>
          <input type="text" class="form-control" id="username" placeholder="username">
        </div>

        </div>

        <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Contact Number</label>
          <input type="tel" class="form-control" id="inputPassword4" placeholder="91-99999 99999">
        </div>
        </div>

        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>

        <div class="form-row">
        <div class="form-group col-md-4">
        <label for="input">Choose District</label>
        <select class="form-control" id="input" onchange="random_function()">
            <option value="SelectState">Select District</option>
                        <option value="Trivandrum">Trivandrum</option>
                        <option value="Alappuzha">Alappuzha</option>
                        <option value="Ernakulam">Ernakulam</option>
                        <option value="Trissur">Trissur</option>
                        <option value="Malapuram">Malappuram</option>
                        <option value="Kozhikode">Kozhikode</option>
        </select></div>
        <div class="form-group col-md-4">
            <label for="output">Choose Branch</label>
           <select class="form-control" id="output" onchange="random_function1()">
               <option value="">Select Branch</option>
           </select>
        </div></div>


        <div class="form-row">
        <div class="form-group col-md-6">
          <label for="flower">Choose Flower</label>
            <select class="form-control" id="flower" >
          <option value="SelectFlower">Select Flower</option>
                        <option value="Lotus">Lotus</option>
                        <option value="Rose">Rose</option>

        </select>
        </div>
        <div class="form-group col-md-6">
          <label for="quantity">Select Quantity</label>

            <input type="number" class="form-control"  id="quantity" placeholder="quantity" min="1" max="1000">
        </div>
        </div>

  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>

  </div>
  <button type="submit" onclick="alert('Your Order Has Accepted')" class="btn btn-primary">submit</button>
</form>




        </div>
{% for msg in messages %}
    {{msg}}
{% endfor %}


</body>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</html>