
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <style>

        #form { margin:auto;border-radius:10px;background:gray;color:white;width:180px;padding:50px;}
        body {background-image: url({% static 'images/maps.jpg' %});}



    </style>
</head>
<body>


    <h1 style="text-align:center;font-size:70px">Registration</h1>
    <div id="form">
    <form action="register" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Enter your Username"></br>
<!--        <input type="text" name="first_name" placeholder="Enter your firstname"></br>-->
<!--        <input type="text" name="last_name" placeholder="Enter your lastname"></br>-->
<!--        <input type="email" name="email" placeholder="Enter your email id"></br>-->
        <input type="password" name="password" placeholder="password"></br>
        <input type="password" name="password1" placeholder="confirm password"></br>
        <input type="submit">
    </form></div>
{% for msg in messages %}
    {{msg}}
{% endfor %}
</body>
</html>